<section class="product-section">
    <div class="product-container">
      <p class="fakedb">Products</p>
      <div class="filter">
        <p>Filter by category:</p>
        <button (click)="filter = ''" [ngClass]="{ 'active': filter === '' }">All</button>
        <button (click)="filter = 'Electronics'" [ngClass]="{ 'active': filter === 'Electronics' }">Electronics</button>
        <button (click)="filter = 'Audio'" [ngClass]="{ 'active': filter === 'Audio' }">Audio</button>
        <button (click)="filter = 'Accessories'" [ngClass]="{ 'active': filter === 'Accessories' }">Accessories</button>
        <button (click)="filter = 'Wearables'" [ngClass]="{ 'active': filter === 'Wearables' }">Wearables</button>
        <button (click)="filter = 'Home'" [ngClass]="{ 'active': filter === 'Home' }">Home</button>
        <button (click)="filter = 'Fitness'" [ngClass]="{ 'active': filter === 'Fitness' }">Fitness</button>
        <button (click)="filter = 'Tools'" [ngClass]="{ 'active': filter === 'Tools' }">Tools</button>
        <button (click)="filter = 'Personal Care'" [ngClass]="{ 'active': filter === 'Personal Care' }">Personal Care</button>
        <button (click)="filter = 'Outdoors'" [ngClass]="{ 'active': filter === 'Outdoors' }">Outdoors</button>
        <button (click)="filter = 'Pet Supplies'" [ngClass]="{ 'active': filter === 'Pet Supplies' }">Pet Supplies</button>
        <button (click)="filter = 'Kitchen'" [ngClass]="{ 'active': filter === 'Kitchen' }">Kitchen</button>
      </div>      
    </div>
  
    <div class="product-list">
      <div class="product-item" *ngFor="let product of filteredProducts" (click)="goToProductDetails(product.id)">
        <p class="category">{{ product?.category }}</p>
        <p class="name">{{ product?.name }}</p>
        <p class="price">{{ product?.price | currency: 'USD' }}</p>
      </div>
    </div>
  </section>
  